html body {
  height: 100%
}

body > div:nth-of-type(1) {
  background-color: gray;
  height: 7rem;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
  margin: 0 auto 0 65px;
}

body > div:nth-of-type(2) {
  display: grid;
  grid-template-columns:1fr 8fr;
  grid-template-rows: repeat(5, 20%)
}

h3 {
  line-height: 800%;
  background-color: rgb(212, 211, 211);
  margin: 0;
  border-bottom: 1px solid white;
  text-align: center;
}

div > p {
  margin: 0;
  padding-top: 20px;
  border-bottom: 1px solid rgb(212, 211, 211)
}

p > span {
  font-weight: bold;
}

p > br:not(:nth-child(3)) {
  display: none
}