body > div {
  margin: 0 auto;
  width: 700px
}
h1 {
  line-height: 200%;
}

h3 {
  line-height: 200%;
}

p > span {
  font-weight: bold;
}

p > br:nth-of-type(2) {
  display: inline-block;
  margin-bottom: 1rem
}